{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container" style="min-height:100vh">
  <div class="row">
    <div class="col-sm" style="margin:auto;padding-top:5em;">
      <div class="px-4 py-5 my-5 text-center" style="min-height:40vh;">
        <span style="font-size: x-large;">Sign in</span>
        <div class="container" style="margin:auto;width:80%;">
          <form action="{% url 'account_login' %}" method="post" style="margin:auto;">
            {% csrf_token %} 
            <div class="row g-3">
              <div class="col-sm">
                <div class="form-floating mb-3">
                  <input name="login" type="text" class="form-control" required>
                  <label for="floatingInput">Username</label>
                </div>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-sm">
                <div class="form-floating mb-3">
                  <input name="password" type="password" class="form-control" required>
                  <label for="floatingInput">Password</label>
                </div>        
              </div>
            </div>          
            <div class="row g-3">
              <div class="col-sm">
                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary btn-lg" style="margin-top:1em;">Login</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}
