{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container" style="min-height:100vh">
  <div class="row">
    <div class="col-sm" style="margin:auto;padding-top:5em;">
      <div class="px-4 py-5 my-5 text-center" style="min-height:40vh;">
        <span style="font-size: x-large;">Are you sure you like to sign out?</span>
        <div class="container" style="margin:auto;width:80%;">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-lg" style="margin-top:1em;">Yes</button>
          </form>
        </div>
    </div>
    </div>
  </div>
</div>


{% endblock content %}
