{% extends "./base.html" %}
{% load static %}

{% block content %}
<div class="container" style="min-height:100vh">
    <div class="row">
        <div class="px-4 py-5 my-5 text-center">
            <div class="row">
                <div class="col-sm-6" style="margin:auto;padding-top:2em;">         
                    <p class="fs-2">Authenticated! Redirecting to {{ url }}</p>
                    <div class="container" style="display: None;margin-top: 1em;">
                      <form action="{{ ap_login_url }}" method="post">
                        {% if url %}
                            <input name="url" type="text" class="form-control" value="{{ url }}" hidden>
                        {% endif %}
                        {% if onerror %}
                            <input name="onerror" type="text" class="form-control" value="{{ onerror }}" hidden>
                        {% endif %}                        
                        <div class="row g-3">
                          <div class="col-sm">
                            <div class="form-floating mb-3">
                              <input name="user" type="text" class="form-control" value="{{ username }}" >
                              <label for="floatingInput">Username</label>
                            </div>
                          </div>
                        </div>
                        <div class="row g-3">
                          <div class="col-sm">
                            <div class="form-floating mb-3">
                              <input name="password" type="password" class="form-control" value="{{ password }}">
                              <label for="floatingInput">Password</label>
                            </div>        
                          </div>
                        </div>          
                        <div class="row g-3">
                          <div class="col-sm">
                            <div class="form-floating mb-3">
                              <button id="auto-login" type="submit" class="btn btn-primary btn-lg" style="margin-top:1em;">Login</button>
                            </div>
                            <script type="text/javascript">
                            setInterval(function() {
                              document.getElementById('auto-login').click();
                            }, 3000);
                              </script>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div>            
        </div>
    </div>
  </div>
{% endblock %}