{% extends "./base.html" %}
{% load static %}

{% block content %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{% static 'css/conversation.css' %}"/>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.15.1/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<script src="{% static 'js/vendors-sdk.min.js' %}"> </script>
<script type="module" src="../static/js/index.js"> </script>
<script>
  var myRainbowLogin = '{{ rainbowID }}';       // Replace by your login
  var myRainbowPassword = '{{ rainbowPassword }}'; // Replace by your password
</script>
<div class="container" style="margin: 7em auto 5em auto;width: 80%;">
  <div class="d-flex justify-content-center">
    <div id="loading" class="spinner-border m-5" role="status" style="margin:8em !important;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="loaded">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="{% url 'check_in' %}" style="width:fit-content; padding: 0;">
            <div class="card" >
              <img src="{% static 'images/checkIn.png' %}" class="card-img-top icon">
              <div class="card-body">
                <p class="card-text">Check In</p>
              </div>
            </div> 
          </a>
        </div>
        <div class="col-sm">
          <a href="{% url 'check_out' %}" style="width:fit-content; padding: 0;">
            <div class="card" >
              <img src="{% static 'images/checkOut.png' %}" class="card-img-top icon">
              <div class="card-body">
                <p class="card-text">Check Out</p>
              </div>
            </div>  
            </a>
        </div>
        <div class="col-sm">
          <a href="{% url 'unlock_door' %}" style="width:fit-content; padding: 0;">
            <div class="card" >
              <img src="{% static 'images/unlockDoor.png' %}" class="card-img-top icon">
              <div class="card-body">
                <p class="card-text">Unlock Door</p>
              </div>
            </div>    
            </a>   
        </div>
        <div class="col-sm">
          <div class="card" id="ContactOperator" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
            <img src="{% static 'images/operatorIcon.png' %}" class="card-img-top icon">
            <div class="card-body">
              <p class="card-text">Chat with Operator</p>
            </div>
          </div> 
        </div>
        <div class="col-sm">
          <div class="card" id="RoomService" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
            <img src="{% static 'images/RoomService.png' %}" class="card-img-top icon">
            <div class="card-body">
              <p class="card-text">Contact Room Service</p>
            </div>
          </div> 
        </div>                                 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Talking: <span id="whois"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="conversations">
        
      </div>
      <div class="modal-footer">
          <div class="input-group flex-nowrap">
              <input type="text" id="sendMessage" class="form-control">
              <a><span class="input-group-text" id="send">Send</span></a>
              <a><span class="input-group-text" id="call" >Call</span></a>
          </div>
      </div>
    </div>
  </div>
</div>
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
  <!-- Then put toasts within -->
  <div id="CallToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="
    position: fixed;
    bottom: 0;
    z-index: 9000;
">
    <div class="toast-header">
      <img src="{% static 'images/callIcon.png' %}" width="15px" height="15px" class="rounded me-2">
      <strong class="me-auto">Incoming call...</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <button id="Answer" type="button" class="btn btn-primary" >Answer</button>
      <button id="Reject" type="button" class="btn btn-danger" >Reject</button>
      <button id="End" type="button" class="btn btn-danger"  style="display:None">End</button>
    </div>
  </div>
</div>   



{% endblock %}