{% extends "./base.html" %}
{% load static %}

{% block content %}
<section class="site-hero overlay" style="background-image: url(&quot;{% static 'images/hero_4.jpg' %}&quot;); background-position: 0% 0px;" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center aos-init aos-animate" data-aos="fade-up">
          <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To ALE <span class="fa fa-star text-primary"></span>   Hotel</span>
          <h1 class="heading">The Best Digital Experience</h1>
        </div>
      </div>
    </div>

    <a class="mouse smoothscroll" href="#next">
      <div class="mouse-icon">
        <span class="mouse-wheel"></span>
      </div>
    </a>
</section>
<section class="section bg-light pb-0">
    <div class="container">
     
      <div class="row check-availabilty" id="next">
        <div class="block-32 aos-init aos-animate" data-aos="fade-up" data-aos-offset="-200">
          <form action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                <div class="field-icon-wrap">
                  <div class="icon"><span class="icon-calendar"></span></div>
                  <input type="text" id="checkin_date" name="start-date" class="form-control">
                </div>
              </div>
              <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                <div class="field-icon-wrap">
                  <div class="icon"><span class="icon-calendar"></span></div>
                  <input type="text" id="checkout_date" name="end-date" class="form-control">
                </div>
              </div>
              <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                    <label for="adults" class="font-weight-bold text-black">Guests</label>
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select id="guest" name="guest" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                      </select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 align-self-end">
                <button class="btn btn-primary btn-block text-white">Check Availabilty</button>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5 aos-init" data-aos="fade-up">
          <figure class="img-absolute">
            <img src="{% static 'images/food-1.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-md-12 col-lg-4 order-lg-1 aos-init" data-aos="fade-up">
          <h2 class="heading">Digitise your Guest journey!</h2>
          <p class="mb-4">Our hospitality solutions help hotels, cruise ships and restaurants create a guest experience that is safe, mobile and unique. We deliver efficient communications for your team to better collaborate and focus on guests. A single intelligent network in the cloud connects and manages everything automatically, offering you invaluable guest insight.</p>
          <p><a href="https://www.al-enterprise.com/en/industries/hospitality" class="btn btn-primary text-white py-2 mr-3">Learn More</a> <span class="mr-3 font-family-serif"></span> 
        </div>
        
      </div>
    </div>
</section>
<section class="section">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading aos-init" data-aos="fade-up">Guest Experience</h2>
          <p data-aos="fade-up" data-aos-delay="100" class="aos-init">Stand out and increase loyalty by creating a direct connection with your guests. Ensure your guests enjoy instant access to amenities and staff from personal and room devices and use data to continuously reinvent their experience and prepare for the future. Increase customer satisfaction and create new revenues while respecting safety regulations.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 aos-init" data-aos="fade-up">
          <a href="#" class="room">
            <figure class="img-wrap">
              <img src="{% static 'images/img_1_1.jpg' %}" alt="Free website template" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>Rainbow Guest Connect</h2>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-4 aos-init" data-aos="fade-up">
          <a href="#" class="room">
            <figure class="img-wrap">
              <img src="{% static 'images/img_2_2.png' %}" alt="Free website template" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>Digital Age Network</h2>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-4 aos-init" data-aos="fade-up">
          <a href="#" class="room">
            <figure class="img-wrap">
              <img src="{% static 'images/img_3_3.jpg' %}" alt="Free website template" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>Guest Service</h2>
            </div>
          </a>
        </div>


      </div>
    </div>
</section>

<section class="section slider-section bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading aos-init aos-animate" data-aos="fade-up">Products</h2>
        <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">Our hospitality solutions help hotels, cruise ships and restaurants create a guest experience that is safe, mobile and unique. We deliver efficient communications for your team to better collaborate and focus on guests. A single intelligent network in the cloud connects and manages everything automatically, offering you invaluable guest insight.</p>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider major-caousel owl-carousel mb-5 owl-loaded owl-drag aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">          
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2487px, 0px, 0px); transition: all 0s ease 0s; width: 5330px;"><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-4.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-4.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-5.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-5.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-6.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-6.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-7.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-7.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-1.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-1.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-2.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-2.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="images/slider-3.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-3.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item active" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-4.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-4.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-5.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-5.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-6.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-6.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-7.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-7.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-1.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-1.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-2.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-2.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-3.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-3.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div><div class="owl-item cloned" style="width: 345.333px; margin-right: 10px;"><div class="slider-item">
            <a href="{% static 'images/slider-4.jpg' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'images/slider-4.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
          </div></div></div></div><div class="owl-nav disabled"><button role="presentation" class="owl-prev"><span class="ion-chevron-left"></span></button><button role="presentation" class="owl-next"><span class="ion-chevron-right"></span></button></div><div class="owl-dots"><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot active"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button></div></div>
        <!-- END slider -->
      </div>
    
    </div>
  </div>
</section>

<section class="section bg-image overlay" style="background-image: url('{% static 'images/hero_3.jpg' %}');">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading text-white aos-init" data-aos="fade">Pick an offer</h2>
          <p class="text-white aos-init" data-aos="fade" data-aos-delay="100">Enjoy an array of services and live a unique experience.</p>
        </div>
      </div>
      <div class="food-menu-tabs aos-init" data-aos="fade">
        <div class="tab-content py-5" id="myTabContent">          
          <div class="tab-pane fade show active text-left" id="mains" role="tabpanel" aria-labelledby="mains-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="food-menu mb-5">
                  <h3 class="text-white"><a href="#" class="text-white">Hybrid - Passive Optical Network</a></h3>
                  <p class="text-white text-opacity-7">HPOL reduces the number of switching layers required for telecom closets, power and cooling systems while offering fiber connectivity over long distances.</p>
                </div>
                <div class="food-menu mb-5">
                  <h3 class="text-white"><a href="#" class="text-white">High Speed Indoor/Outdoor Access Points</a></h3>
                  <p class="text-white text-opacity-7">This versatile Wi-Fi 6 Access Point is designed for vertical industries such as hotels, cruises and resorts.</p>
                </div>
                <div class="food-menu mb-5">
                  <h3 class="text-white"><a href="#" class="text-white">High Speed Hospitality Access Point</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="food-menu mb-5">
                  <h3 class="text-white"><a href="#" class="text-white">Rainbow Guest Connect</a></h3>
                  <p class="text-white text-opacity-7">24/7 eConcierge services on mobile or room devices offer convenience and safety.</p>
                </div>
                <div class="food-menu mb-5">
                  <h3 class="text-white"><a href="#" class="text-white">Visual Automated Assistant</a></h3>
                  <p class="text-white text-opacity-7">Visual Automated Attendant advanced capabilities offer endless opportunities for a personalized routing and greeting experience for your customers..</p>
                </div>
                <div class="food-menu mb-5">
                  <h3 class="text-white"><a href="#" class="text-white">Rainbow Unified Communications</a></h3>
                  <p class="text-white text-opacity-7">Adapted collaboration tools and devices enable better coordination and focus on guests.</p>
                </div>
              </div>
            </div>
            

          </div> <!-- .tab-pane -->

          <div class="tab-pane fade text-left" id="desserts" role="tabpanel" aria-labelledby="desserts-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$11.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Banana Split</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$72.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Sticky Toffee Pudding</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$26.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Pecan</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$42.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Apple Strudel</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$7.35</span>
                  <h3 class="text-white"><a href="#" class="text-white">Pancakes</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$22.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Ice Cream Sundae</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
          </div> <!-- .tab-pane -->
          <div class="tab-pane fade text-left" id="drinks" role="tabpanel" aria-labelledby="drinks-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$32.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Spring Water</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$14.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Coke, Diet Coke, Coke Zero</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$93.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Orange Fanta</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$18.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Lemonade, Lemon Squash</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$38.35</span>
                  <h3 class="text-white"><a href="#" class="text-white">Sparkling Mineral Water</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="food-menu mb-5">
                  <span class="d-block text-primary h4 mb-3">$69.00</span>
                  <h3 class="text-white"><a href="#" class="text-white">Lemon, Lime &amp; Bitters</a></h3>
                  <p class="text-white text-opacity-7">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
          </div> <!-- .tab-pane -->
        </div>
      </div>
    </div>
</section>









<div class="px-4 py-5 my-5 text-center" style="min-height:40vh;">
    <h1 class="display-5 fw-bold" style="margin:1em;">Like to find out more...</h1>
    <div class="container">
      <div class="row g-3">
        <div class="col-sm">
            <div class="form-floating mb-3">
                <a href="mailto:support@al-enterprise.com" class="btn btn-primary btn-lg" style="margin-top:1em;">Contact Us</a>
            </div>        
        </div>
    </div>
    </div>
</div>
{% if guest %}
<div class="px-4 py-5 my-5 text-center" style="min-height:40vh;">
    <div class="row">

        {% for product in product_obj %}
            
        <div class="col-sm-4">
            <div class="card mb-3">
                <img class="card-img-top" src={{product.image_url.url}} alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ product.name}} - ${{product.price}}</h5>
                <p class="card-text">{{ product.description |truncatechars:100}}</p>
                <a href="booknow/{{startdate}}/{{enddate}}/{{guest}}/{{product.id}}/" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% endif %}


{% endblock %}