{% extends "./base.html" %}
{% load static %}

{% block content %}

<div class="container" style="margin:auto;width:50%;min-height: 80vh; display: flex;
justify-content: center;
align-items: center;">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold" style="margin:1em;min-width: 8em;">Your Room number is {{ room_obj.number }}</h1>
        <div class="contentarea">
          <h1>MDN - navigator.mediaDevices.getUserMedia(): Still photo capture demo</h1>
          <p>
            This example demonstrates how to set up a media stream using your built-in
            webcam, fetch an image from that stream, and create a PNG using that image.
          </p>
          <div class="camera">
            <video id="video">Video stream not available.</video>
            <button id="startbutton">Take photo</button>
          </div>
          <canvas id="canvas"> </canvas>
          <div class="output">
            <img id="photo" alt="The screen capture will appear in this box." />
          </div>
          <p>
            Visit our article
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos">
              Taking still photos with WebRTC</a
            >
            to learn more about the technologies used here.
          </p>
        </div>
        
        

    </div>

</div>



{% endblock %}